      </main>
    </div>
    <div id="live-indicator" class="live-indicator">Live update received...</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
